<h2>Detalhes do artigo</h2>

<p>
  Titulo:
  <%= @post.title %>
</p>
<p>
  Descrição:
  <%= @post.description %>
</p>

<p>
  Postado em:
  <%= @post.created_at.strftime("%d/%m/%Y")  %>
</p>

<p>
  Likes:
  <span id="num_curtidas">
    <%= @post.likes %>
  </span>
  <%= link_to 'Curtir', post_curtir_path(@post), remote: true %>
</p>
